#container {
    position: relative;
    width: 1920px;
    height: 1080px;
    /* background-color: transparent !important; */
    background-color: rgb(116, 211, 119);
    background-size:contain;
    background-repeat: no-repeat;
}

#box {
    display: flex;
    justify-content: left;
    align-items: top;
   
}

.draggable-box {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.99);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    user-select: none;
    cursor: move;
    
}

.textDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
}

.box-buttons {
    display: none;
    z-index: 10;
}

.box-buttons button {
    margin-top: 5px;
}

.changeColorButton {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(199, 199, 199);
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    user-select: none;
}

.deleteButton {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgb(199, 199, 199);
    width: 25px;
    height: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    user-select: none;
}

.orderButton {
    position: absolute;
    left: 32%;
    bottom:-15px;
    background-color: rgb(238, 236, 220);
    width: 30px;
    height: 30px;
    color: rgb(94, 92, 92);
    text-align: center;
    border-radius: 30px;
    border: 0.1em solid rgb(124, 124, 121);
    user-select: none;
}

.role-box {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* 设置为圆形 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    user-select: none;
    cursor: move;
    
}
.roletext{
  position: absolute;
  /* bottom: -30px; */
  top: 75px;
  width: 80px;
  /* padding: 10px; */
  text-align: center;
  color: rgb(29, 29, 29);
  /* -webkit-text-stroke: 1px #ffffff; */
  /* text-shadow: 5px 5px 5px rgb(255, 255, 255); */

  font-size: 1em;
  text-shadow: -2px -2px #fff, -2px -1px #fff, -2px 0px #fff, -2px 1px #fff, -2px 2px #fff, -1px -2px #fff, -1px -1px #fff, -1px 0px #fff, -1px 1px #fff, -1px 2px #fff, 0px -2px #fff, 0px -1px #fff, 0px 0px #fff, 0px 1px #fff, 0px 2px #fff, 1px -2px #fff, 1px -1px #fff, 1px 0px #fff, 1px 1px #fff, 1px 2px #fff, 2px -2px #fff, 2px -1px #fff, 2px 0px #fff, 2px 1px #fff, 2px 2px #fff;

}

.changeImageButton {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(199, 199, 199);
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    user-select: none;
}

.deleteButtonRole {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgb(199, 199, 199);
    width: 25px;
    height: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    user-select: none;
}



/* 骰子 */
#area {
    position: absolute;
    left: 1000px;
    top: 500px;
    width: 100px;
    height:100px;
    display: none;
}

/* 新增样式 */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    margin-top: 0.8em;
  }
  
  .button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 40px;
    user-select: none;
  }
  
  .button-box:hover {
    background-color: #e0e0e0;
  }
  
  .button-text {
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
  
  .button-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  /* 图标样式 */
 
#addBox .button-icon {
  background-image: url(../img/svg/add-btn.svg); 
}

#toggleDragEdit .button-icon {
  background-image: url(../img/svg/customization.svg); 
}

#modifyBackground .button-icon {
  background-image: url(../img/svg/pictures.svg);
}

#modifyAllColors{
  position: relative;
}
#modifyAllColors .button-icon {
  background-image: url(../img/svg/decorate.svg);
}

#modifyAllTextColors{
  position: relative;
}
#modifyAllTextColors .button-icon {
  background-image: url(../img/svg/user-defined.svg);
}

#modifyRoles .button-icon {
  background-image: url(../img/svg/customer-add.svg);
}

#showdice .button-icon {
  background-image: url(../img/svg/dice.svg);
}

#exportGame .button-icon {
  background-image: url(../img/svg/save.svg);
}

#importGame .button-icon {
  background-image: url(../img/svg/response.svg); 
}


  